h2{
    color: white;
    font-size: 2rem;

}
.mo{
  text-align: center; 

}
h3{
    color: white;
    font-size: 1.3rem;
}

p{
    color: white;
}

  /* Ajoutez ces styles pour l'espace autour de la barre */
  .grid {
    position: relative;
    padding: 0 20px; /* Ajustez la valeur selon vos besoins */
  }
  
  /* Reste des styles existants */
  .grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 2rem;
  }

