/* projet.css */

.section-container {
    display: flex;

  }

img{
    border-radius: 50%;
}
  .column {
    position: relative;
    flex: 1;
    padding: 10px;
   
  }
  
  .column img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease; /* Ajoute une transition pour l'effet hover */
  }
  
  .column:hover img {
    transform: scale(1.1); /* Zoom l'image au survol */
 
  }
  
  .description {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.7); /* Couleur de fond pour la description */
    color: #fff; /* Couleur du texte de la description */
    padding: 10px;
    transition: opacity 0.3s ease; /* Ajoute une transition pour l'affichage de la description */
  }
  
  .column:hover .description {
    opacity: 1; /* Affiche la description au survol */
  }
  
  
  